name: ci

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/setup-go@v2.1.1
      with:
        go-version: 1.14
    - uses: actions/checkout@v2
    - run: make
